.wrapper {
  background-position: center;
  background-size: cover;
}

.main {
  width: 100%;
}

.header {
  text-align: center;
  font-family: fantasy;
  background: #679098;
  color: #fff;
  height: 80px;
  font-size: 60px;
}

.intro-box {
  background: #fff;
  width: 100%;
  border: 1px solid #679098;
  padding: 10px;
  margin-top: 200px;
  font-family: fantasy;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.question-box {
  background: #fff;
  color: #f00;
  width: 100%;
  border: 1px solid #1f6569;
  padding: 10px;
  margin-top: 20px;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  display: none;
}

.filter {
  position: relative;
  top: 30px;
  height: auto;
  display: none;
}


.filter .boxes {
  position: relative;
}

.filter .boxes li {
  float: left;
  list-style: none;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 60px;
  height: 60px;
  background: #679098;
  text-align: center;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: bold;
  color: #f9f7f6;
  cursor: pointer;
  line-height: 60px;
}

small {
  position: relative;
  font-size: 20px;
  top: -25px;
  color: #fff;
  left: 140px;
  font-family: sans-serif;
}

/* Mobile CSS */
@media (min-width: 768px) and (max-width: 1240px) {
  .filter {
    width: 500px;
    margin: 0 auto;
  }
}
